.chats-container{
  box-sizing: border-box;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chat-item{
  display: flex;
  gap: 8px;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.chat-item:hover{
  background-color: #f3f4f7;
}

.chat-item:nth-last-child(-n+1){
  border: none;
}

.chat-item__left{
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat-item__left>img{
  border-radius: 50%;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.chat-item__info{
  width: 320px;
  cursor: pointer;
}

.chat-date{
  font-size: 10px;
  color: #868686;
  min-width: 80px;
}

.chat-item__name{
  color: #4b528d;
}

.chat-item__last-message{
  height: 16px;
  overflow: hidden;
}