* {
  margin: 0;
  padding: 0;
}

.frame {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__main {
  display: grid;
  flex: 1 0 auto;
  grid-template-columns: max-content min-content 1fr;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
  grid-row: 1;
  min-height: 80vh;
  overflow: hidden;
}

@media screen and (max-width: 1250px) {
  .app__main {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .app__main {
    max-width: 800px;
  }
}
@media screen and (max-width: 850px) {
  .app__main {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .app__main {
    margin-right: 50px;
  }
}
@media screen and (max-width: 360px) {
  .app__main {
    margin-right: 50px;
    width: 290px;
  }
}