.avatar_change__cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.178);
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar__change__wrapper {
  width: 150px;
  height: 150px;
  background-color: #fff;
}