  <div class="user__page">
    <div class="user__info_wrapper" 
    [style]="user.background?'background-image: url('+api+'/theme/'+user.background+');':'background-image: none'">
      <button class="bgc-btn btn-style" *ngIf="isYourPage" (click)="bgModal=!bgModal"><fa-icon [icon]="faEllipsis"></fa-icon></button>
      <app-bg-change-modal *ngIf="bgModal" (bgChange)="user.background=$event.link"></app-bg-change-modal>
      <div class="user__info">
        <div class="foreign__user_block"
        (mouseleave)="editProfileService.close()">
          <div class="user__avatar">
            <img 
            class="user__photo"
            [src]="api + '/' + user.avatar.imgLink"
            (mouseover)="editProfileService.open()"
            alt="avatar">
            <div class="div"
            *ngIf="isYourPage">
              <app-avatar-modal
            class="modal__wrapper"
             *ngIf="editProfileService.isVisible$ | async"></app-avatar-modal>
            </div>
              <app-avatar-change-menu
              (changeAvatar)="user.avatar = $event"
             *ngIf="avatarChangeMenuService.isVisible$ | async"
              ></app-avatar-change-menu>
            <span
            class="user__status"
            *ngIf="user.isOnline"></span>
          </div>
        </div>
        <div class="user__interactions__btns"
          *ngIf="!isYourPage">
            <button       
            (click)="writeToThisUser()"
            class="btn interaction__btn"
            >Написать</button>
            <button
            class="btn interaction__btn"
            (click)="subAction()"
            [disabled]="isDisabled"
            >{{subBtnContent}}</button>
          </div>
          <h1 class="user__name">{{user.name}}</h1>
          <div class="subscribers__sec">
            <app-subscribers
            [token]="token"
            [id]="user._id"
            [subscribers]="user.subscribers"
            >
            </app-subscribers>
        </div>
      </div>
    </div>
    
    <div class="wrapper">
      <div class="user__gallery">
        <app-gallery-preview [id]="user._id"></app-gallery-preview>
      </div>
      <div class="user__create_new_post">
        <app-news [id]="user._id"></app-news>
      </div>
      <div class="user__subscriptions">
        <app-subscribtions
        [subscriptions]="sortedSubs"
        [id]="user._id"
        ></app-subscribtions>
      </div>
    </div>
    <app-subscriptions-modal
    *ngIf="subModalService.isOpened$ | async"
    [id]="user._id">
    </app-subscriptions-modal>
    <app-subscribers-modal
    class="subscribers-modal"
    [subscribers]="user.subscribers"
    *ngIf="subscribersModalService.isCalled$ | async">
    </app-subscribers-modal>
    <!-- <div class="user__posts">
    </div> -->
  </div>



