.main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(177, 177, 177, 0.541);
}

.user__page {
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  height: 100%;
}

.user__info {
  display: flex;
  width: 100%;
  height: 200px;
  gap: 30px;
  background-color: #fff;
  border: 1px solid rgba(137, 137, 137, 0.42);
  border-radius: 24px;
}

.user__avatar {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: none;
  background: rgb(163,73,163);
  background: linear-gradient(19deg, rgba(163,73,163,1) 0%, rgba(56,151,241,1) 100%);
}

.user__photo {
  position: relative;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border: none;
}

.user__name {
  margin-top: 20px;
  color: red;
}

.user__gallery {
  background-color: #fff;
  border: 1px solid rgba(137, 137, 137, 0.42);
  border-radius: 24px;
  width: 500px;
  margin-top: 10px;
}

.user__status {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  background-color: rgb(3, 202, 3);
}

.modal__wrapper {
  position: absolute;
  top: 150px;
  left: 0px;
}

.wrapper {
  display: flex;
  width: 100%;
  gap: 10px;
}

.user__subscriptions {
  background-color: #fff;
  border: 1px solid rgba(137, 137, 137, 0.42);
  border-radius: 24px;
  margin-top: 10px;
  flex-grow: 1;
}



