@import "../../../styles.scss";

.main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(177, 177, 177, 0.541);
}

.user__page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  color: var(--color-default);

}

.user__info_wrapper {
  position: relative;
  height: 400px;
  border-radius: 1rem;
  background-image: url(../../../assets/radiant-gradient.png);
  background-size: cover;
}

.user__info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  grid-template-areas: 
  "ava name name"
  "none subs but";
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100px;
  background-color: var(--background-post);
  border-radius: 1rem;
}

.cover{
  
}

.foreign__user_block {

  justify-content: space-around;
  height: 100%;
}

.user__avatar {
  grid-area: ava;
  position: absolute;
  top: -95px;
  left: 20px;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: none;
  background: var(--violet-default);
  background: linear-gradient(19deg, var(--green-default) 0%, var(--violet-default) 100%);
}

.user__photo {
  position: relative;
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: none;
}

.user__name {
  grid-area: name;
  color: var(--violet-default);
  display: flex;
  align-items: center;
}

.user__interactions__btns {
  width: 100%;
  height: 100%;
  grid-area: but;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

.btn {
  margin-left: 3rem;
  background-color: var(--item);
  width: auto;
  padding: 0.4rem 1.5rem;
  height: 2rem;
  margin-top: 2rem;
  border: 1px solid var(--border-item);
  border-radius: 0.5rem;
  color: var(--color-default);
  cursor: pointer;
  transition: all 0.2s;
}

.interaction__btn {
  margin: 0;
}

.btn:hover {
  background-color: var(--hover-item);
  transition: all 0.2s;
}

.btn:active {
  background-color: var(--active-item);
  transition: all 0.2s;
}

.user__gallery {
  grid-area: gal;
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.user__status {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: 3px solid var(--background-post);
  border-radius: 50%;
  background-color: rgb(3, 202, 3);
}

.modal__wrapper {
  position: absolute;
  top: 80px;
  left: 150px;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "gal sub"
  "post none";
  width: 100%;
  gap: 1rem;
  grid-template-columns: 1fr 200px;
}

.user__subscriptions {
  grid-area: sub;
  color: var(--color-default);
  background-color: var(--background-post);
  border: 1px solid var(--border-item);
  border-radius: 1rem;
  flex-grow: 1;
}

.user__create_new_post {
  grid-area: post;
  width: 100%;
}

.subscribers-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.subscribers__sec {
  grid-area: subs;
  margin-top: 10px;
}

@media screen and (max-width: 1250px) {
  .user__page {
margin: 0 auto;
}
}

@media screen and (max-width: 1050px) {
  * {
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }

  .user__info {
    grid-template-columns: 160px 1fr 1fr;
  }

  .foreign__user_block {
    width: 180px;
  }

  .btn {
    padding: 2px;
  }

  .user__avatar {
    width: 125px;
    height: 125px;
    top: -80px;
  }

  .user__info {
    grid-template-columns: 140px 1fr 1fr;
  }

  .user__status {
    bottom: 7px;
    right: 7px;
  }



  .user__photo {
    width: 119px;
    height: 119px;
  }
}
@media screen and (max-width: 850px) {
  .user__gallery {
    width: 100%;
  }



  .wrapper {
    grid-template-areas: 
    "sub none"
    "gal none"
    "post none";
    grid-template-columns: 100% 0;
  }
}

@media screen and (max-width: 600px) {
  .user__info {
    grid-template-areas: 
    "ava name name"
    "subs but but";
  }

  .user__description {
    display: flex;
  }

  .user__name {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 22px;
    line-height: 24px;
  }

  .subscribers__sec {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// @media screen and (max-width: 360px) {
//   .header__container {
//     max-width: 300px;
//   }
// }


