<header class="app__header">
  <div class="header__container">
    <div class="header__logo"
    routerLink="">
      GlobaL<p class="right__text-logo">Land</p>
    </div>
    <div 
    class="header__search">
      <input 
      class="header__search_field"
      type="search"
      placeholder="Поиск"
  
      >
    </div>
    <div class="img__menu">
      <img
      [src]="userAvatar" alt="avatar"
      class="header_user__menu"
      (click)="headerModalService.open()"
      >
      <app-header-modal *ngIf="headerModalService.isVisible$ | async"></app-header-modal>
  </div>

  </div>


</header>
