.container{
  width: 500px;
  border: 0;
  border-radius: 1rem;
  background-color: rgb(51, 51, 51);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.title__post {
  color: rgb(200, 200, 200);
  font-size: 20px;
  font-weight: 600;
}

.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.upload__text{
  width: 100%;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
  padding: 8px;
}

.upload__text:focus{
  border: 1px solid rgb(148, 148, 148);
}

.errors__item, .file-errors{
  color: rgb(192, 58, 58);
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
}

.headline {
  width: 100%;
  background-color: rgb(80, 80, 80);
  min-height: 2rem;
  border: 0;
  border-radius: 0.5rem;
  padding-left: 0.7rem;
  color: rgb(200, 200, 200);
  font-size: 18px;
}
.headline:focus {

}
.input__file {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.add__file {
  width: 12rem;
  background-color: rgb(80, 80, 80);
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: rgb(200, 200, 200);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
}
.add__file:hover {
  background-color: rgb(99, 99, 99);
  transition: all 0.2s;
}
.add__file:active {
  background-color: rgb(51, 51, 51);
  transition: all 0.1s;
}
.upload__text {
  width: 100%;
  background-color: rgb(80, 80, 80);
  border: 0;
  border-radius: 0.5rem;
  padding-left: 0.7rem;
  color: rgb(200, 200, 200);
  font-size: 18px;
}
.submit__post {
  padding: 0.4rem 1.5rem;
  background-color: rgb(80, 80, 80);
  border: 0;
  font-size: 18px;
  color: rgb(200, 200, 200);
  border-radius: 0.5rem;
}