.images-list__item__img{
  width: 245px;
  height: 170px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete-btn{
  cursor: pointer;
}

.controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 3px;
}