@import "../../models/styleVar.scss";

.aside__menu {
  width: 200px;
  margin-top: 2rem;
  background-color: $background-post;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid $border-item;
}

.aside__menu_list {
  list-style: none;
  color: $color-default;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside__menu_item {
  display: flex;
  gap: 10px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.aside__menu_item:hover {
  color: $color-default-hover;
  transition: all 0.2s;
}

.menu__text {
  color: $color-default;
  font-family: 'Times New Roman', Times, serif;
}