<div class="container">
  <div class="cover" (click)="close()"></div>
  <div class="modal">
    <div class="modal__left">
      <div class="modal-info">
        <div class="modal-info__author">
          <img [src]="[api+'/'+imgList[index].author.avatar.imgLink]" alt="">
          {{imgList[index].author.name}}
          <p>likes:{{imgList[index].likes.length}}</p>
        </div>
      </div>
      <div class="img-container" (mouseover)="likesVisable=true" (mouseleave)="likesVisable=false">
        <button class="img-container__btn btn-style" (click)="decrement()"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
        <img [src]="[api+'/'+imgList[index].imgLink]" alt="">
        <button class="img-container__btn btn-style" (click)="increment()"><fa-icon [icon]="faChevronRight"></fa-icon></button>
        <div *ngIf="likesVisable" class="likes">
          <button class="btn-style heart" (click)="postLike(imgList[index]._id); isDisabled=true" [disabled]="isDisabled"><fa-icon [icon]="faHeart"></fa-icon></button>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="comments__header">
        <button class="btn-style" (click)="close()"><fa-icon [icon]="faXmark"></fa-icon></button>
      </div>
      <app-comments
      class="comments__component"
      (updateComments)="imgList[index].comments = $event"
      [comments]="imgList[index].comments"
      [postId]="imgList[index]._id"
      [isPost]="false"></app-comments>
    </div>
  </div>
</div>

