<div class="container">
  <div class="cover" (click)="close()"></div>
  <div class="modal">
    <div class="modal-info">
      <div class="modal-info__author">
        <img [src]="[api+'/'+imgList[index].author.avatar.imgLink]" alt="">
        {{imgList[index].author.name}}
        <p>likes:{{imgList[index].likes.length}}</p>
      </div>
    </div>
    <div class="img-container" (mouseover)="likesVisable=true" (mouseleave)="likesVisable=false">
      <button class="img-container__btn" (click)="decrement()">left</button>
      <img [src]="[api+'/'+imgList[index].imgLink]" alt="">
      <button class="img-container__btn" (click)="increment()">right</button>
      <div *ngIf="likesVisable" class="likes">
        <button (click)="postLike(imgList[index]._id); isDisabled=true" [disabled]="isDisabled">like</button>
      </div>
    </div>
  </div>
</div>

