/* You can add global styles to this file, and also import other style files */

:root {
  --color-default: rgb(46, 42, 42); 
  --color-default-hover: rgb(0, 0, 0);
  --header-background: rgb(220, 227, 243);
  --active-item: rgb(229, 236, 251);
  --hover-item: rgb(217, 217, 217);
  --item: rgb(235, 228, 228);
  --background-post: rgb(227, 227, 227);
  --green-default: rgb(63, 93, 61);
  --violet-default: rgb(155, 115, 224);
  --border-item: rgb(90, 90, 90);
  --background-body: rgb(239, 239, 239);
  --gallery-modal-bg: rgb(241, 241, 241);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--background-body);
}

.text__post ul>li {
  list-style-type: disc;
  margin-left: 20px;
}

.text__post ol>li {
  list-style-type: decimal;
  margin-left: 20px;
}

.text__post p {
  margin-top: 10px;
}

.text__post img {
  margin: 5px;
}

.text__post h1,
.text__post h2,
.text__post h3,
.text__post h4 {
  text-align: center;
  margin-top: 10px;
}

.text__post a {
  color: var(--border-item);
}

.text__post a:hover {
  color: blue;
}

