@import "../../../styles.scss";

.main {
  display: flex;
  width: 80%;
  background-color: rgba(177, 177, 177, 0.541);
}

.find_page {
  width: 100%;
}

.find__field {
  display: none;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user__found {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-default);
  width: 100%;
  cursor: pointer;
  border: 1px solid var(--border-item);
  background-color: var(--background-post);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.user__found:hover {
  filter: brightness(120%);

}

.user__found:last-child {
  margin-bottom: 65px;;
}

.userInfo__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.user__avatar {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user__name {
  color: var(--color-default);
  font-size: 16px;
}

.btns__wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn__find {
  font-size: 14px;
  background-color: var(--item);
  color: var(--color-default);
  border: 1px solid var(--border-item);
  padding: 0.3rem 0.4rem;
  border-radius: 0.4rem;
  transition: all 0.2s;
  cursor: pointer;
}

.btn__find:hover {
  background-color: var(--hover-item);
  transition: all 0.2s;
}

.btn__find:active {
  background-color: var(--active-item);
  transition: all 0.2s;
}

.createChat {
  position: relative;
  z-index: 10;

}

// .subscribeToUser {

// }

.avatar_wrapper {
  position: relative;
}

.status {
  position: absolute;
  bottom: 5px;
  right: -2px;
  width: 13px;
  height: 13px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(3, 202, 3);
}

@media screen and (max-width: 600px) {
  .user__found {
    flex-direction: column;
  }

  
}

