.subs__headline {
  margin: 0 auto;
  text-align: center;
}

.img__wrapper {
  position: relative;
}

.sub__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.status__marker {
  position: absolute;
  bottom: 5px;
  right: -2px;
  width: 13px;
  height: 13px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(3, 202, 3);
}

.subs__field {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}