<div 
class="login_modal"

>

<div class="login_modal__wrapper">
  <form 
  [formGroup]="form" (ngSubmit)="submit()"
  class="login_modal__form"
  >
  <h2 class="login_modal__headline">Вход</h2>
      <input
      (focus)="errorService.clear()"
      type="text"
      id="login"
      class="login_input"
      placeholder="Введите логин"
      required
      formControlName="userName"
      >
      <input 
      (focus)="errorService.clear()"
      type="password"
      id="password"
      class="login_input"
      placeholder="Введите пароль"
      required
      formControlName="password"
      >
    <button
    type="submit"
    class="login_input submit_button"
    >
    Войти
  </button>
  </form>
  <app-login-error></app-login-error>
  <p class="change_modal__text">Нет аккаунта? <span
    class="auth__change_modal"
    routerLink="/auth/registration"
    >Регистрация</span></p>
</div>



</div>
