<div 
class="login_modal"

>


<form 
[formGroup]="form" (ngSubmit)="submit()"
class="login_modal__form"
>
<h2 class="login_modal__headline">Вход</h2>
    <input
    type="text"
    id="login"
    class="login_input"
    placeholder="Введите логин"
    required
    formControlName="userName"
    >
    <input 
    type="password"
    id="password"
    class="login_input"
    placeholder="Введите пароль"
    required
    formControlName="password"
    >
  <button
  type="submit"
  class="login_input submit_button"
  >
  Подтвердить
</button>
</form>

</div>
