.container{
  width: 200px;
  min-height: 150px;
  position: absolute;
  top: 40%;
  right: 5%;
  transform: translate(0,-50%);
  background-color: var(--violet-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select{
  width: 120px;
  height: 40px;
  border: 1px solid rgb(107, 107, 107);
  border-radius: 5px;
}

.select:active{
  border: 1px solid rgb(35, 143, 120);
}

.btn-style{
  background-color: #684d6b;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.btn-style:hover{
  background-color: #463547;
}