<div class="container">
  <div class="gallery-info">
    <!-- <img [src]="[api+'/'+imgList[0].author.avatar.imgLink]" alt=""> -->
    <!-- <p class="gallery-info__name">Фотографии {{imgList[0].author.name}}</p> -->
    <p class="gallery-info__name">Фотографии пользователя</p>
    <button class="btn__gallery" *ngIf="isSameId">Добавить фотографии</button>
  </div>
  <div class="upload" *ngIf="isSameId">
    <h1 class="title__gallery" >Upload your Image!</h1>
    <div *ngIf="error">
      {{ error.message }}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input class="input__gallery" type="file" name="files" (change)="onFileChange($event)" #file/>
      <button class="btn__submit" type="submit" [disabled]="isDisabled">Upload</button>
    </form>
  </div>
  <ul class="images-list">
    <li class="images-list__item" *ngFor="let image of imgList">
      <app-gallery-image
      [imgList]="imgList"
      [image]="image" [id]="id" 
      [isSameId]="isSameId" 
      (delete)="deleteImage($event)">
      </app-gallery-image>
    </li>
  </ul>
</div>