<div class="container">
  <div class="gallery-info" *ngIf="isLoaded">
    <img [src]="[api+'/'+ user.avatar.imgLink]" alt="">
    <p class="gallery-info__name">Фотографии {{user.name}}</p>
    <button class="btn__gallery" *ngIf="isSameId" (click)="isUpload=!isUpload">Добавить фотографии</button>
  </div>
  <div class="upload" *ngIf="isSameId&&isUpload">
    <h3 class="title__gallery" >Загрузите свои фотографии!</h3>
    <div class="errors" *ngIf="error">
      {{ error.message }}
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input class="input__gallery" type="file" name="files" (change)="onFileChange($event)" #file/>
      <button class="btn__submit" type="submit" [disabled]="isDisabled">Загрузить</button>
    </form>
  </div>
  <ul class="images-list">
    <li class="images-list__item" *ngFor="let image of imgList">
      <app-gallery-image
      [imgList]="imgList"
      [image]="image" [id]="id" 
      [isSameId]="isSameId" 
      (delete)="deleteImage($event)">
      </app-gallery-image>
    </li>
  </ul>
</div>