@import "../../../models/styleVar.scss";

.header__post {
  display: flex;
  justify-content: space-between;
  background-color: $header-background;
  color: $color-default;
  border-bottom: 1px solid $border-item;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 14px;
  border-radius: 1rem 1rem 0 0;
}

.title__post {
  background-color: $header-background;
  color: $color-default;
  padding: 1rem;
}

.author__post {
  cursor: pointer;
  transition: all 0.2s;
}

.author__post:hover {
  color: $color-default-hover;
  transition: all 0.2s;
}

.date__post {
  cursor: default;
}

.ul__post {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  // background-color: rgb(35, 35, 35);
}

.li__post {
}

.body__post {
  background-color: $background-post;
  color: $color-default;
  padding: 1rem;
}

.text__post {
  font-size: 18px;
}



// ---------------------------- FOOTER --------------------------------


.footer__post {
  display: flex;
  gap: 1.5rem ;
  height: 4rem;
  background-color: $background-post;
  padding-top: 0.5rem;
  border-radius: 0 0 1rem 1rem;
}


.item__footer-post {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: $color-default;
}

.item__footer-post:hover {
  background-color: $header-background;
  transition: all 0.2s;
}

.item__footer-post:active {
  background-color: $active-item;
  transition: all 0.1s;
}

.like__svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
}

.comment__svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
}

.images__post {
  max-width: 400px;
}

.app__comments {
  background-color: $active-item;
}